body{
    margin:0;
    padding:0;
    width:100vw;
}

#projects-bg{
    width:90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pr-text{
    text-align:center;
    color:#2F3D4C;
}

#project{ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #43B9B7, #2F3D4C);
    width:40%;
    margin:50px;
}


#project{
    position: relative;
    text-align:center;
    font-size:30px;
}

#project:hover{
    cursor: pointer;
}



